
  <div class="container">
    <div class="row shadow contact">
      <div class="col">
        <h3 class="text-center mt-3 mb-3">お問い合わせフォーム</h3>

        <table class="table table-borderless">
          <tr>
            <th style="width: 20%">タイトル</th>
            <td style="width: 80%"><%= @contact.title %></td>
          </tr>
          <tr>
            <th style="width: 20%">内容</th>
            <td style="width: 80%"><%= @contact.content %></td>
          </tr>
        </table>

        <div class="row justify-content-center m-5">
          <%#= form_with model: @contact, url: back_path, local: true do |f| %>
            <%#= f.hidden_field :title %>
            <%#= f.hidden_field :content %>
            <div class="float-right"><%= link_to '入力画面に戻る', new_contact_path, class: "btn btn-outline-success rounded-pill"%><%#= f.submit '入力画面に戻る', class: "btn btn-outline-success rounded-pill" %></div>
          <%# end %>
          &emsp; &emsp; &emsp; &emsp; &emsp;
          <%= form_with model: @contact, local: true do |f| %>
            <%= f.hidden_field :title %>
            <%= f.hidden_field :content %>
            <div class="float-left"><%= f.submit '送信', class: "btn btn-outline-info rounded-pill" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>