  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= "タイトル" %>
          <%= @contact.title %>
        </div>
        <div class="form-group">
          <%= "内容" %>
          <%= @contact.content %>
        </div>
          <%= form_with model: @contact, local: true do |f| %>
            <%= f.hidden_field :title %>
            <%= f.hidden_field :content %>
            <div><%= f.submit '送信' %></div>
          <% end %>
          <%= form_with model: @contact, url: back_path, local: true do |f| %>
            <%= f.hidden_field :title %>
            <%= f.hidden_field :content %>
            <div><%= f.submit '入力画面に戻る' %></div>
          <% end %>
       </div>
    </div>
  </div>