  <div class="p-4 mr-5"><!-- profile wrapper start -->
    <div class="d-flex mb-3">
      <div><!-- profile image start -->
        <%= link_to edit_user_path(user), class: 'text-secondary text-decoration-none' do %>
          <div class="img-wrapper"><%= image_tag user.get_profile_image, class: 'round-profile' %></div>
        	<p><%= user.name %></p>
        <% end %>
      </div><!-- profile image end -->
      <div class="d-flex"><!-- like count start -->
        <div class="text-center ml-2">
          <% follow_my_staring = "-my-count" %>
          <% followings_id_string = "followings" %>
          <% followers_id_string = "followers" %>
          <% if current_user == @user %>
            <% followings_id_string = followings_id_string + follow_my_staring %>
            <% followers_id_string = followers_id_string + follow_my_staring %>
          <% end %>

          <%= link_to user_followings_path(user.id), class: "text-secondary text-decoration-none" do %>
            <p class="follow-counter" id="<%= followings_id_string %>"><%= user.followings.count %></p>
            <p>following</p>
          <% end %>
        </div>
        <div class="text-center ml-2">
          <%= link_to user_followers_path(user.id), class: "text-secondary text-decoration-none" do %>
            <p class="follow-counter" id="<%= followers_id_string %>"><%= user.followers.count %></p>
            <p>followers</p>
          <% end %>
        </div>
      </div><!-- like count end -->
  	</div>
  	<div class="d-flex justify-content-around">
    	<%= link_to notes_path, class: 'btn btn-outline-secondary rounded-pill float' do %>
    	  <i class="fas fa-hands-helping text-danger"></i> share
    	<% end %>
    	<%=link_to favorites_user_path(user), class: 'btn btn-outline-secondary rounded-pill float' do %>
    	  <i class="fas fa-bookmark text-warning"></i> favorite
    	<% end %>
      <%= link_to  user_activities_path(user.id), class: "bell-relative" do %>
        <i class="fas fa-bell fa-2x notify"></i>
        <span class="counter"><%= activities.total_count %></span>
      <% end %>
    </div>
  </div><!-- profile wrapper end -->

