  <div class="p-4 mr-5"><!-- profile wrapper start -->
    <div class="d-flex mb-3">
      <div><!-- profile image start -->
        <%= link_to edit_user_path(user), class: 'text-secondary text-decoration-none' do %>
          <div class="img-wrapper"><%= image_tag user.get_profile_image, class: 'round-profile' %></div>
        	<p><%= user.name %></p>
        <% end %>
      </div><!-- profile image end -->
      <div class="d-flex"><!-- like count start -->
        <div class="text-center ml-2">
          <%= link_to user_followings_path(user.id), class: "text-secondary text-decoration-none" do %>
            <p class="follow-counter" id="followings-count"><%= user.followings.count %></p>
            <p>folloing</p>
          <% end %>
        </div>
        <div class="text-center ml-2">
          <%= link_to user_followers_path(user.id), class: "text-secondary text-decoration-none" do %>
            <p class="follow-counter" id="followers-count"><%= user.followers.count %></p>
            <p>followers</p>
          <% end %>
        </div>
      </div><!-- like count end -->
  	</div>
  	<span id="new-follow">
  	  <%# byebug %>
  	  <% if current_user != user %>
        <% if current_user.following?(user) %>
          <%= link_to "フォロー外す", user_relationships_path(user.id), class: "btn btn-outline-danger rounded-pill float mb-3", remote: true, method: :delete %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(user.id), class: "btn btn-outline-primary rounded-pill float mb-3", remote: true, method: :post %>
        <% end %>
      <% end %>
    </span>
  	<div class="d-flex justify-content-around">
    	<%= link_to notes_path, class: 'btn btn-outline-secondary rounded-pill float' do %>
    	  <i class="fas fa-hands-helping text-danger"></i> share
    	<% end %>
    	<%=link_to favorites_user_path(user), class: 'btn btn-outline-secondary rounded-pill float' do %>
    	  <i class="fas fa-bookmark text-warning"></i> favorite
    	<% end %>
    </div>
  </div><!-- profile wrapper end -->