  <div>
    <% if comment.errors.any? %>
      <% comment.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
    <%= form_with model: [note, comment],url: note_comments_path(note.id), method: :post, local: false do |f| %>
      <%= f.text_area :comment, placeholder: "コメントをここに", class: "form-control mb-3" %>
      <%= f.submit "送信する", class: "btn btn-block btn-outline-primary rounded-pill" %>
    <% end %>
  </div>
  <div>
    コメント件数：<%= note.comments.count %>
    <% note.comments.each do |comment| %>
      <div class="row my-3">
        <div class="col-3">
          <%= link_to share_index_user_path(comment.user.id), class: "text-secondary" do %>
            <%= image_tag comment.user.get_profile_image, class: 'round-profile' %>
            <%= comment.user.name %>
          <% end %>
        </div>
        <div class="col-6">
          <%= comment.comment %>
        </div>
        <div class="col-3">
          <%= comment.created_at.strftime('%Y/%m/%d') %>
          <% if comment.user == current_user %>
            <%= link_to note_comment_path(comment.note, comment), method: :delete, remote: true do %>
              <i class="fas fa-trash-alt text-danger"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
