  <% if users.exists? %>
    <% users.each do |user| %>
      <%= image_tag user.get_profile_image, class: 'round-profile' %>
      <%= user.name %>
      フォロー数: <%= user.followings.count %>
      フォロワー数: <%= user.followers.count %>
      <%= link_to "show",  share_index_user_path(user.id), class: 'btn btn-outline-secondary rounded-pill float' %>
    <% end %>
  <% else %>
      <p class="text-center">ユーザユーザーはいません</p>
  <% end %>