  <% if user_signed_in? %>
    <h3>覚えたいフレーズを記録しよう</h3>
    <ul class="slick01 slick-slider">
      <li class="slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 920px;"><%= image_tag"IMG_3841.jpg", width: '100', height: '100' %></li>
      <li class="slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 920px;"><%= image_tag"IMG_3841.jpg", width: '100', height: '100' %></li>
      <li class="slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 920px;"><%= image_tag"IMG_3841.jpg", width: '100', height: '100' %></li>
      <li class="slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 920px;"><%= image_tag"IMG_3841.jpg", width: '100', height: '100' %></li>
   </ul>
    <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
    <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>
    <ul class="slick-dots" style="" role="tablist">
      <li class="" role="presentation">
        <button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 3" tabindex="-1">1</button>
      </li>
    </ul>
    

    

    <%= render "public/notes/form", note: @note %>
  <% else %>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Rome was not built in a day</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="btn-wrapper col-10 mx-auto">
            <div class="row">
              <%= link_to 'ゲスト(閲覧用)こちら', users_guest_sign_in_path, method: :post %>
            </div>
            <div class="row">
              <%= link_to 'ログインはこちら', new_user_session_path %>
            </div>
            <div class="row">
              <%= link_to '新規登録はこちら', new_user_registration_path %>
            </div>
            or
            <div class="row">
              <%= link_to '管理者はこちら', new_admin_session_path %>
            </div>
          <h1>about</h1>
    <% end %>
          </div>
        </div>
      </div>

      <script>
        $(document).ready(function(){
          $('.slick01').slick({

          });
        })
      </script>