  <% if user_signed_in? %>
  <div class="container">
    <div class="d-flex">
      <h3 class="basic">今日のおすすめフレーズ</h3>
    </div>
      <div class="card float suggestion mb-5">
        <div class="card-body">
            <h5 class="card-title">フレーズ:<%= @suggest.suggest_word %></h5>
            <p class="card-text">英文: <%= @suggest.suggest_english %></p>
            <p class="card-text">和訳: <%= @suggest.suggest_japanese %></p>
        </div>
      </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 order-1 order-md-0">
          <h3 class="basic">
            <ruby>覚<rp>（</rp><rt>おぼ</rt><rp>）</rp></ruby>えたいフレーズを
            <ruby>記<rp>（</rp><rt>き</rt><rp>）</rp></ruby>
            <ruby>録<rp>（</rp><rt>ろく</rt><rp>）</rp></ruby>しよう
          </h3>
          <div class="mt-5"><%= render "public/notes/form", note: @note %></div>
        </div>
        <div class="col-md-6 order-0 order-md-1 d-flex align-items-end">
          <ul class="slick01 slick-slider w-100">
            <li class="slick-slide"><%= image_tag"howto.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto1.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto2.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto3.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto4.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto5.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto6.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto7.png", class: 'w-100' %></li>
          </ul>
        </div>
      </div>
    </div>
  <!--Slickスライドショー-->
    <script>
      $(document).ready(function(){
        $('.slick01').slick({
          autoplay: true,
          autoplaySpeed: 6000,
          speed: 2000,
          fade: true,    // fedeオン
          pauseOnFocus: false, // スライダーをフォーカスした時にスライドを停止させるか
          pauseOnHover: false, // スライダーにマウスホバーした時にスライドを停止させるか
          adaptiveHeight: true,
          arrows: true,
          dots: true
        });
      })
    </script>
  <!--ログイン前-->
  <% else %>
    <section id="hero">
      <div class="fixed-background background-1">
          <div class="text-component text-center">
            <h1 class="basic">Welcome to <br class="mediaSp"> E-taskmaster</h1>
            <h2><%= link_to "ゲスト(閲覧用)はこちら", users_guest_sign_in_path, method: :post, class: "text-light"%></h2>
            <h2><%= link_to 'ログインはこちら', new_user_session_path, class: "text-light" %></h2>
            <h2><%= link_to '新規登録はこちら', new_user_registration_path, class: "text-light" %></h2>
            <div class="mt-2 mb-2" style="color: #fff">or</div>
            <h2><%= link_to "管理者はこちら",  new_admin_session_path, class: "text-light" %></h2>
          </div>
      </div>
    </section>

    <section class="section">
      <div class="fixed-background-1">
        <div class="text-component-1">
          <h2 class="text-center basic">About</h2>
  	      <h3 class="text-center basic">英会話フレーズを作成しよう</h3>
  	      <div class="text-center">
            <p class="font-weight-bold">E-taskmasterは英語学習者向けのアプリです</p>
          </div>
          <p class="fst-italic text-monospace">【英会話フレーズの作成方法】</p>
            <ul class="e-taskmaster">
              <li>・覚えたいフレーズを『パラフレーズ・英文・和訳』に分けて記録しよう！</li>

              <li>・覚えたフレーズは覚えるボタンをクリックして整理しよう！</li>

              <li>・英会話フレーズは何度も覚えるまでブラッシュアップしよう！</li>
            </ul>
            <div>
               英会話を上達させるためにパラフレーズを覚えることはとて重要です。<br>
               ネイティヴが使うような実践を意識したパラフレーズを覚えることで<br>
               より現地で使われているフレーズを習得することができ会話の幅を広げたりすることができ<br>
               たくさんのnon-japaneseたちと繋がることが出来きます。<br>
               今までの自分よりさらに一歩前進するために、新しいパラフレーズに挑戦し実際に使えるまで何度もくり返し学習しよう！<br>
               楽しく自分自身が必要とする英会話フレーズをたくさんインプット・アウトプットしていき<br>英語力を向上させていきましょう！
            </div>
        </div>
      </div>
    </section>

    <section id="hero-2">
      <div class="fixed-background">
        <div class="text-component text-center">
          <h1 class="basic">Where do I start?</h1>
          <h4 class="basic">Why do you want to learn English?</h4>
          <p>Before you begin, or go back to, studying English, ask yourself one question.</p>
          <h4 class="basic">Why do I want to study English?</h4>
          <p>someone else wants you to? Like every decision in life, studying English must be something you want to do.</p>
          <h4 class="basic">Set goals</h4>
          <p>
            If you know why you want to study, setting goals is easy. For example,maybe you want to travel to an English-speaking country.<br>
            Great. Your goal might be to learn "Survival English"<br>
            Perhaps you already know many useful phrases,but you want to improve your listening skills and pronunciation.<br>
            Whatever your goals are,write them down.
          </p>
          <h4 class="basic">Make an agenda</h4>
          <p>
            How long do you need to study to achieve your goals? <br>
            This answer is different for every student. The important thing is to be realistic. <br>
            If you work 60 hours per week, don't plan on spending another 40 hours a week studying English.<br>
            Start off slow, but study regularly. <br>
            Use material that is challenging, but not too difficult. Find out what works for you. <br>
            After you have studied for a few weeks, adjust your study schedule accordingly. <br>
            Do you study best at night, or on the bus on your way to work? <br>
            Do you like to study alone in a quiet place, or with friends and background music?
          </p>
        </div>
      <div>
    </section>

    <section class="section-2">
      <div class="fixed-background-1">
        <div class"text-component-1">
          <h2 class="text-center basic">What Is a Paraphrase?</h2>
            <div class="text-center">
              <p class="fst-italic text-monospace basic">【Parapharaseとは】</p>
            </div>
            <div>
              Parapharaseは、日本語で言う言い換えのようなものです。<br>
              Parapharaseを、習得していく事によって効率的に単語や熟語を覚えられ<br>
              自分の言いたいことをシンプルに伝えられるようになります。<br>
              また、日本語を介さず英語のまま処理できるようになり、会話表現の幅が広がります。<br>
              より英語学習が楽しくなるとともに自信を持つことが出来、英語力も前の自分よりも一段と成長している事に気づくでしょう！<br>
            </div>
        </div>
      </div>
    </section>


    <section id="hero-3">
      <div class="fixed-background">
        <div class="text-component text-center">
          <h1 class="basic">Just enjoy learning English!</h1>
          <h4 class="basic">Make a commitment</h4>
          <p>
            Learning English requires a lot of motivation. <br>
            Nobody is going to take your attendance when you aren't in class.<br>
            If you are sure you are ready to begin studying, make a commitment.
          </p>
          <h4 class="basic">Have fun learning English!</h4>
          <p>
            The things we do best in life are the things we enjoy doing. <br>
            If you aren't having fun learning English, you're not studying the right way! <br>
            You can be a serious student who has fun at the same time. <br>
            Make up your own rewards program to give yourself incentives to stay on task.
          </p>
        </div>
      </div>
    </section>
  <% end %>