  <% if user_signed_in? %>

    <div class="container">
      <div class="row">
        <div class="col-md-6 order-1 order-md-0">
          <h3>覚えたいフレーズを記録しよう</h3>
          <div class="mt-5"><%= render "public/notes/form", note: @note %></div>
        </div>
        <div class="col-md-6 order-0 order-md-1">
          <ul class="slick01 slick-slider">
            <li class="slick-slide">
              <%= image_tag"toronto.union.jpg", class: 'img-fluid' %>
              <div class="how-to"><p>hogehoge<br>使い方</p></div>
            </li>
            <li class="slick-slide"><%= image_tag"toronto.union.jpg", class: 'img-fluid' %></li>
            <li class="slick-slide"><%= image_tag"toronto.union.jpg", class: 'img-fluid' %></li>
            <li class="slick-slide"><%= image_tag"toronto.union.jpg", class: 'img-fluid' %></li>
            <li class="slick-slide"><%= image_tag"toronto.union.jpg", class: 'img-fluid' %></li>
            <li class="slick-slide"><%= image_tag"toronto.union.jpg", class: 'img-fluid' %></li>
            <li class="slick-slide"><%= image_tag"toronto.union.jpg", class: 'img-fluid' %></li>
            <li class="slick-slide"><%= image_tag"toronto.union.jpg", class: 'img-fluid' %></li>
          </ul>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Rome was not built in a day</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="btn-wrapper col-10 mx-auto">
            <div class="row">
              <%= link_to 'ゲスト(閲覧用)こちら', users_guest_sign_in_path, method: :post %>
            </div>
            <div class="row">
              <%= link_to 'ログインはこちら', new_user_session_path %>
            </div>
            <div class="row">
              <%= link_to '新規登録はこちら', new_user_registration_path %>
            </div>
            or
            <div class="row">
              <%= link_to '管理者はこちら', new_admin_session_path %>
            </div>
          <h1>about</h1>
          </div>
        </div>
      </div>
  <% end %>

  <script>
    $(document).ready(function(){
      $('.slick01').slick({
        autoplay: true,
        autoPlayDuration : 5000,
        adaptiveHeight: true,
        dots: true,
        prevArrow: '<span class="slick-prev"><i class="fas fa-arrow-alt-circle-left"></i></span>',
        nextArrow: '<span class="slick-next"><i class="fas fa-arrow-alt-circle-right"></i></span>',
      });
    })
  </script>

