  <% if user_signed_in? %>

    <div class="container">
      <div class="row">
        <div class="col-md-6 order-1 order-md-0">
          <h3>覚えたいフレーズを記録しよう</h3>
          <div class="mt-5"><%= render "public/notes/form", note: @note %></div>
        </div>
        <div class="col-md-6 order-0 order-md-1 d-flex align-items-end">
          <ul class="slick01 slick-slider w-100">
            <li class="slick-slide"><%= image_tag"howto.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto1.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto2.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto3.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto4.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto5.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto6.png", class: 'w-100' %></li>
            <li class="slick-slide"><%= image_tag"howto7.png", class: 'w-100' %></li>
          </ul>
        </div>
      </div>
    </div>
  <!--Slickスライドショー-->
    <script>
      $(document).ready(function(){
        $('.slick01').slick({
          autoplay: true,
          autoplaySpeed: 6000,
          speed: 2000,
          fade: true,    // fedeオン
          pauseOnFocus: false, // スライダーをフォーカスした時にスライドを停止させるか
          pauseOnHover: false, // スライダーにマウスホバーした時にスライドを停止させるか
          adaptiveHeight: true,
          arrows: true,
          dots: true
        });
      })
    </script>
  <!--ログイン前-->
  <% else %>
  <section class="fixed-background background-1">
    <div class="container max-width-sm">
      <div class="text-component text-center">
        <h1>Welcome to E-taskmaster</h1>
        <h2><%= link_to "ゲスト(閲覧用)はこちら", users_guest_sign_in_path, method: :post, class: "text-light"%></h2>
        <h2><%= link_to 'ログインはこちら', new_user_session_path, class: "text-light" %></h2>
        <h2><%= link_to '新規登録はこちら', new_user_registration_path, class: "text-light" %></h2>
        <div class="mt-2 mb-2" style="color: #fff">or</div>
        <h2><%= link_to "管理者はこちら",  new_admin_session_path, class: "text-light" %></h2>
      </div>
    </div>
  </section>
  <section class="fixed-background background-2">
    <div class="container max-width-sm">
      <div class="text-component text-center">
        <h1>About</h1>
      </div>
    </div>
  </section>
  <% end %>