<h1>覚えるフレーズ</h1>
<% @notes.each do |note|%>
  <%=link_to note.word, note_path(note) %>
  <%= note.english %>
  <%= note.japanese %>
  <%# 覚えたボタン%>
  <%= link_to "覚えた", done_note_path(note),method: :post %>
<% end %>
<%= link_to "覚えたページ", complete_index_notes_path %>