  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= render 'public/shared/profile_info', user: @user %>
      </div>
        <div class="card float suggestion col-sm-8">
          <div class="card-body">
            <h5>
              <%= image_tag @note.user.get_profile_image, class: 'round-profile' %>
              <%= @note.user.name %>
            </h5>
              <h5 class="card-title">フレーズ: <%= @note.word %></h5>
              <p class="card-text">英文: <%= @note.english %></p>
              <p class="card-text">和訳: <%= @note.japanese %></p>
              <div class="d-flex">
                <div class="col-4">
                  <div class="hover10" style="width: 70px" id=<%= "favorite-btn-" + @note.id.to_s %>><%= render "public/favorites/favorite_btn", note: @note %></div>
                </div>
                <div class="col-4">
                  <%= link_to share_show_note_path(@note.id), class: "text-secondary text-decoration-none" do %>
                    <i class="far fa-comment"></i><span id='comment-counter'><%= @note.comments.count %></span>
                  <% end %>
                </div>
              </div>
          </div>
          <div class="new-comments"><%= render "public/comments/comment", note: @note, comment: @comment %></div>
        </div>
    </div>
  </div>
