 <div class="container">
    <div class="d-flex">
      <h3 class="basic">
        タスク<ruby>新規登録<rp>(</rp><rt>しんきとうろく</rt><rp>)</rp></ruby>
      </h3>
    </div>
      <p class="col mt-3">タスク内容</p>
  </div>
  <div class="container">
    <%= form_with model: @task, local: true do |f| %>
      <%= render "layouts/errors", model: f.object %>
      <div class="row">
        <div class="col-md-3 mb-2 mb-md-0">
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="col-md-3 mb-2 mb-md-0">
          <%= f.datetime_field :starts_at, class: 'form-control' %>
        </div>
        <div class="col-md-3 mb-2 mb-md-0">
          <%= f.datetime_field :ends_at, class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.submit "投稿", class: "btn btn-outline-light bg-success float" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container mt-4">
    <div class="d-flex">
      <h2 class="basic">Todolist</h2>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <% @tasks.each do |task| %>
          <div class="col-md-4 mb-5">
            <div class="card note-card">
              <div class="card-body float">
                <h6 class="card-subtitle text-muted"><%= task.title %></h6>
                <h5 class="card-title mb-2"><%= task.starts_at.strftime("%Y年%m月%d日") %></h5>
                <p class="card-text"><%= task.ends_at.strftime("%Y年%m月%d日") %></p>
                <div class="float-right">
                  <%= link_to "完了", task_path(task), method: :delete, data: { comfirm: "タスクは完了しましたか？"}, class: "btn btn-outline-light bg-warning float" %>
                </div>
                <div class="float-left">
                  <%= link_to "編集", edit_task_path(task), class: "btn btn-outline-light bg-success float" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="text-right">
        <%= link_to "タスク完了一覧", complete_task_path(@tasks), class: "btn btn-outline-light bg-warning float" %>
      </div>
    </div>
    <div class="pagination justify-content-center"><%= paginate @tasks %></div>

  <div class="container mt-3">
    <h3 class="text-center">
      Commit Tasks
    </h3>
    <%= line_chart @line_chart_data %>
  </div>
