  <header class="sticky-top">
    <%# @topかつuserがログインしていない時にheader_topというクラスが付与される%>
    <nav class="navbar navbar-expand-lg navbar-light shadow" style="background-color: #b3b3ff">
      <%= link_to image_tag("e-taskmaster.chart.png",size: "50x50"), root_path, class: "navbar-brand" %>
      <%= link_to image_tag("e-taskmaster.log.png",size: "200x50"), root_path, class: "navbar-brand" %>
      <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-none d-xl-block" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to root_path, class: 'nav-link hover10' do %>
              <i class="fas fa-home faa-ring animated"></i> Home
            <% end %>
            </li>
            <li class="nav-item"><%= link_to remember_index_notes_path, class: 'nav-link hover10' do %>
              <i class="fas fa-book-reader faa-shake animated"></i> Note
            <% end %>
            </li>
            <li class="nav-item"><%= link_to new_task_path, class: 'nav-link hover10' do %>
              <i class="fas fa-tasks faa-pulse animated"></i> Task
            <% end %>
            </li>
            <li class="nav-item"><%= link_to tasks_path, class: 'nav-link hover10', data: {"turbolinks" => false} do %>
              <i class="far fa-calendar-alt faa-horizontal animated"></i> Schedule
            <% end %>
            </li>
            <li class="nav-item"><%= link_to new_contact_path, class: 'nav-link hover10' do %>
              <i class="fas fa-paper-plane faa-float animated"></i> Contact
            <% end %>
            </li>
            <li class="nav-item dropdown hover10">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-door-open faa-tada animated"></i>
                Hello <%= current_user.name %> !
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to users_path, class: 'dropdown-item hover10' do %>
                  <i class="fas fa-user-secret faa-shake animated"></i> Mypage
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item hover10' do %>
                  <i class="fas fa-sign-out-alt faa-passing animated"></i> Logout
                <% end %>
              </div>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item"><%= link_to admin_users_path, class: 'nav-link hover10' do %>
              <i class="fas fa-users faa-float animated"></i> Users
            <% end %>
            </li>
            <li class="nav-item"><%= link_to new_admin_suggest_path, class: 'nav-link hover10' do %>
              <i class="fas fa-user-graduate faa-spin animated"></i> Suggest
            <% end %>
            </li>
            <li class="nav-item"><%= link_to admin_contacts_path, class: 'nav-link hover10' do %>
              <i class="fas fa-mail-bulk faa-tada animated"></i> Contacts
            <% end %>
            </li>
            <li class="nav-item"><%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link hover10' do %>
              <i class="fas fa-sign-out-alt faa-passing animated"></i> Logout
            <% end %>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to users_guest_sign_in_path, method: :post, class: 'nav-link hover10' do %>
              <i class="fab fa-canadian-maple-leaf faa-spin animated"></i> Guest
            <% end %>
            </li>
            <li class="nav-item"><%= link_to new_user_session_path, class: 'nav-link hover10' do %>
              <i class="fas fa-sign-in-alt faa-passing animated"></i> Login
            <% end %>
            </li>
            <li class="nav-item"><%= link_to new_user_registration_path, class: 'nav-link hover10' do %>
              <i class="fas fa-user-plus faa-pulse animated"></i> Signup
            <% end %>
            </li>
          <% end %>
        </ul>
        <div class="shadow">
          <% if user_signed_in? %>
            <!--検索機能-->
            <%= search_form_for @search, url: search_notes_path, class: 'form-inline' do |f| %>
              <div class="input-group">
                <%= f.text_field :word_cont, placeholder: "search...", class: 'form-control form-control-sm' %>
                <div class="input-group-append">
                  <%= f.submit "search", class: "btn btn-sm btn-danger float" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </nav>
  </header>