<!DOCTYPE html>
  <html>
    <head>
      <title>E-taskmaster</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

      <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">

      <script>
        $(function() {
          setTimeout("$('.notice').fadeOut('slow')", 3000);
          setTimeout("$('.alert').fadeOut('slow')", 3000);
        });
      </script>
    </head>

    <body>
      <%= render "layouts/header" %>
            <% if flash[:notice] %>
               <div class="notice text-center p-0 m-0"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:alert] %>
               <div class="alert text-center p-0 m-0"><%= flash[:alert] %></div>
            <% end %>
        <div class="wrapper <%= @top && !user_signed_in? ? 'header_top footer_top_logout' : "footer_top_login" %>">
          <main>
          <%= yield %>
          </main>
          <footer>
            <%= render "layouts/footer" %>
          </footer>
        </div>
    </body>
  </html>
