<!DOCTYPE html>
  <html>
    <head>
      <title>E-taskmaster</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

      <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">

      <script>
        $(function() {
          setTimeout("$('.notice').fadeOut('slow')", 3000);
          setTimeout("$('.alert').fadeOut('slow')", 3000);
        });
      </script>
    </head>

    <body>
      <%= render "layouts/header" %>
      <% if flash[:notice] %>
         <div class="notice text-center"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
         <div class="alert text-center"><%= flash[:alert] %></div>
      <% end %>

      <% if controller.controller_name == "homes"%>
        <% if current_admin %>
          <div class="wrapper niagara-image fixed-background">
        <% elsif current_user %>
          <div class="wrapper">
        <% else %>
          <div class="wrapper niagara-image fixed-background">
        <% end %>
      <% else %>
        <div class="wrapper">
      <% end %>

        <main>
          <%= yield %>
        </main>
        <footer>
          <%= render "layouts/footer" %>
        </footer>
      </div>
    </body>
  </html>
