<!DOCTYPE html>
  <html>
    <head>
      <title>E-taskmaster</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

      <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
      <!--/font-awesome-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
      <!--/Font Awesome Animation-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />

      <script>
        $(function() {
          setTimeout("$('.notice').fadeOut('slow')", 3000);
          setTimeout("$('.alert').fadeOut('slow')", 3000);
        });
      </script>
      <%= favicon_link_tag 'chart.png' %>
    </head>

    <body>
      <%= render "layouts/header" %>
        <% if flash[:notice] %>
          <div class="notice text-center p-0 m-0"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert text-center p-0 m-0"><%= flash[:alert] %></div>
        <% end %>
        <div class="wrapper <%= @top && !user_signed_in? ? 'header_top footer_top_logout' : "footer_top_login" %>">
          <main>
            <%= yield %>
            <span id="back">
              <a href="">
                <i class="far fa-arrow-alt-circle-up arrow"></i>
              </a>
            </span>
          </main>
          <footer>
            <%= render "layouts/footer" %>
          </footer>
        </div>
    </body>
  </html>
